RUST_LOG=debug

TIMESCALEDB_PASSWORD=some.password
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=6681

NATS_HOST=nats.solarminer.energiesandsuch.com
NATS_PORT=6682
NATS_PASSWORD=some.password

STATE_STREAM_NAME=controller-state
CONTROLLER_COMMANDS_STREAM_NAME=controller-commands
